export EXELIS_DIR=$HOME/Applications/harris
export IDL_DIR=$EXELIS_DIR/idl88
export PATH="$IDL_DIR/bin:$PATH"

export PYTHONPATH=$IDL_DIR/bin/bin.darwin.x86_64:$PYTHONPATH
export PYTHONPATH=$IDL_DIR/lib/bridges:$PYTHONPATH

export JUPYTER_PATH=$IDL_DIR/lib/bridges