.DS_Store

overleaf/
.vscode/

# data
data/

# Quarto
.quarto
_manuscript/
_site/

##########################
# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
/.quarto/

# pixi environments
.pixi
pixi.lock

Manifest.toml
.Condapkg

# Ignore files in the presentation folder starting with an underscore
presentations/_*
