project:
  type: manuscript

website:
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "Notes"
        href: notes.qmd
      - sidebar:presentations
      - sidebar:notebooks
  sidebar:
    - title: Notebooks
      id: notebooks
      contents: "notebooks/**"
    - title: Presentations
      id: presentations
      contents: "presentations/**"
  repo-actions: [edit, issue]

manuscript:
  article: index.qmd
  code-links: [repo]

format:
  html: default
  # pdf: default
  # jats: default
  pdf:
    cite-method: natbib
    keep-tex: true
    latex-clean: false

execute:
  freeze: auto

wrap: preserve

affiliations:
  - id: ucla
    num: 1
    name: University of California, Los Angeles
    address: Department of Earth, Planetary, and Space Sciences, University of California, Los Angeles

bibliography:
  - files/bibliography/research.bib
